.popup-front {
    background-color: white;
    z-index: 2; /* Sit on top */

    position: fixed;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    overflow: auto; /* Enable scroll if needed */
}