.sidebar {
  background-color: black;
  color: white;

  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.mainboard {
  background-color: white;
  color: black;

  margin-left: 160px;
  padding: 0px 10px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  width: 100%; /* Full-height: remove this if you want "auto" height */
  height: 100%; /* Full-height: remove this if you want "auto" height */
}