.mainboard {
  background-color: white;
  color: black;

  margin-left: 160px;
  padding: 0px 10px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  width: 100%; /* Full-height: remove this if you want "auto" height */
  height: 100%; /* Full-height: remove this if you want "auto" height */
}

.mainboardcard {
    background-color: #FA4F38;
    text-align: center;
    position: absolute;
    width: 150px;
    height: 50px;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
